table, tr, td{
  border: 1px solid black;
}
td{
  cursor:pointer;
  background-color:white;
}

table{
  background-color: black;
}

th,tr,td{
  background-color:rgb(220,220,220);
  min-width: 40px;
  min-height:30px;
}

input#contentEditor{
  width:100px
}

#title{
  color:black;
  font-size:60px;
  
  text-align:center;
  font-weight:bold;
}
html{
  font-family: Garamond ;
}
#all{
  background-image: url();
  background-color:rgb(200,200,200);
}

.key{
  margin-left: auto;
  margin-right: 0%;
  text-align: center;
}

#healthtable{
  text-align:center;
}

button{
  outline: 2px solid black;
  background-color:#b50000;
  width:100px;
  height:40px;
}
button.selected{
  background-color:#ff6666;
}
#month, #year, #name{
  border:2px solid black;
}
/*snippet*/
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
/*end of snippet

source: https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting

*/
div.buttonstop{
  margin-left:2px;
}
td.blank{
  background-color: black;
  cursor: default;
}
td.guide, tr.guide, table.key{
  cursor: default;
  
}
td.guide, th.guide{
  background-color: rgb(180,180,180);
}
.day{
  background-color:rgb(180,180,180);
}
table#print{
  background-color:black;
}
table#print > tr > td{
  background-color:black;
}
table#print > tr{
  background-color:black;
}